<%# In a non-partial file all "article" key words would be "@article" %>
<%# Not using instances here because partials are shared and it is best %>
<%# to remove the dependency of controller @instance_variables and pass %>
<%# the article to the partial as a local variable instead %>

<%# Non-partial view files should still use @instance_variables because %>
<%# they will be receiving the @instance_variable from the controller %>
<%# instead of locally %>
<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: article.status || 'public' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<p><%= link_to "Home", root_path %></p>